// .grid-item {
//   border: 1px solid #000;
//   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
// }

.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.card-content {
  &-container {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: auto;
  }
  &-gridBg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    position: absolute;
    left: 0;
    height: auto;
    padding: 11px 12px;

    & > div {
      background-color: #fafafa;
      border-radius: 10px;
      border: 1px dashed #dbe1f1;
    }
  }
}

.gridLayoutContainer {
  .dragCard {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: visible;
    cursor: move;
  }
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .boxShadow {
    border-radius: 2px;
    transition: 0.5s;
    box-shadow: rgba(0, 34, 77, 0.1) 0 1px 3px;
  }
  .boxShadow:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
  :global {
    .react-grid-item {
      overflow: hidden;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
    .react-grid-item.react-grid-placeholder {
      background-color: #909090;
      z-index: 0;
    }
    .ant-card-body {
      overflow: auto;
      flex: auto;
    }
    .react-grid-item.react-draggable {
      border: 1px solid #dbe1f1;
      padding: 1px;
      border-radius: 4px;
    }
  }
}
