:root {
  --main-color-dark: #1e3255;
  --main-color-light: #29b6c7;
}

html,
body,
:global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
}

.indexHeader {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  padding: 0 0.8em;
  background-color: #fff;
  height: 57px;
  line-height: 57px;
}
.indexHeader .headerTitle {
  font-weight: bold;
}
.indexContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 92vh;
  overflow: hidden;
}
.indexContent .indexNavBar {
  width: 200px;
  background-color: var(--main-color-dark);
  height: 100%;
  padding: 15px 0;
}
.indexContent .indexNavBar .indexNavBarItem {
  width: 100%;
  cursor: pointer;
  color: #fff;
  padding: 10px 0 10px 10px;
  transition: all 0.2s;
}
.indexContent .indexNavBar .indexNavBarItem .indexNavBarItemText {
  display: inline-block;
  margin-left: 10px;
}
.indexContent .indexNavBar .indexNavBarItem:hover {
  background-image: linear-gradient(
    to right,
    var(--main-color-dark),
    var(--main-color-light)
  );
}
.indexContent .indexNavBar .indexNavBarItemActive {
  background-image: linear-gradient(
    to right,
    var(--main-color-dark),
    var(--main-color-light)
  );
}
.indexContent .routeContentWrapper {
  box-sizing: border-box;
  background-color: #f3f4f5;
  flex: 1;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.indexContent .routeContentWrapper .routeContent {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
